.add-item {
  color: black;
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 2px double black;
  border-radius: 5px;
  background-color: white;
  top: 110px;
  right: 40px;
  z-index: 1;

  .close-button {
    align-self: flex-start;
    width: 20px;
    height: 20px;
    cursor: pointer;

    &:hover {
      color: grey;
      background-color: rgb(228, 228, 228);
    }
  }
}
