.small-menu {
  display: none;

  .small-menu-button {
    color: #282c34;
    background-color: white;
    padding: 0 15px;
    margin: 10px 0;
    margin-right: 20px;
    border: 2px solid grey;
    border-radius: 5px;
    align-content: center;
    font-size: 30px;
    cursor: pointer;

    &:hover {
      background-color: white;
      color: grey;
    }
  }

  .small-menu-options {
    z-index: 1;
    position: absolute;
  }
}
