.homepage {
  padding: 5px 10px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: minmax(150px, 200px) auto;
  // grid-template-rows: 60px auto;
  // grid-gap: 10px;
  justify-items: auto;

  .body {
    display: grid;
    grid-template-rows: 60px auto;
    justify-self: auto;
    min-width: 550px;

    .body-buttons {
      width: 80%;
      height: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: flex-start;
      gap: 5px;

      .body-button {
        z-index: 1;
        color: rgb(70, 70, 70);
        padding: 6px 10px;
        margin: 15px 0;
        border: 2px solid grey;
        border-radius: 5px;
        // align-self: center;
        font-size: small;
        cursor: pointer;

        &:hover {
          background-color: white;
          color: grey;
        }
      }
    }
  }

  .side-menu {
    justify-self: auto;
  }

  @media screen and (max-width: 800px) {
    grid-template-columns: 1fr;
    .side-menu {
      display: none;
    }
    .small-menu {
      display: block;
    }
  }
}
