.homepage {
    padding: 5px 0px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 150px auto;
    grid-gap: 10px;

    .body-buttons {
        width: 80%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    
        .body-button {
          padding: 6px 10px;
          margin: 15px 0;
          border: 2px solid grey;
          border-radius: 5px;
          text-decoration: none;
        //   color: white;
          font-size: small;
          cursor: pointer;
    
          &:hover{
            background-color: white;
            color: grey;
          }
        }
    }
}
